* {
  margin: 0;
  padding: 0;
  font: 700 1rem "Poppins";
  color: #2b2b2b;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  padding: 5px 50px;
  background-color: white;
  z-index: 1000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 1s ease-in-out;
}
#header #header__logo a svg {
  width: 80%;
}
#header #header__navbar a {
  position: relative;
  font: 200 1.5rem "Comfortaa";
  padding: 0 5px;
  letter-spacing: 0.5px;
}
#header #header__navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #2b2b2b;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
#header #header__navbar a:hover:after {
  width: 100%;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 80vh;
  background-color: #454158;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
#main #main__container #main__writing #main__menu_icon {
  width: 100px;
  height: 20px;
  display: flex;
  position: absolute;
  top: 17.5%;
  left: 23.5%;
  justify-content: space-evenly;
}
#main #main__container #main__writing #main__menu_icon_red {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background-color: red;
}
#main #main__container #main__writing #main__menu_icon_red:hover {
  opacity: 0.75;
}
#main #main__container #main__writing #main__menu_icon_yellow {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background-color: yellow;
}
#main #main__container #main__writing #main__menu_icon_yellow:hover {
  opacity: 0.75;
}
#main #main__container #main__writing #main__menu_icon_green {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background-color: green;
}
#main #main__container #main__writing #main__menu_icon_green:hover {
  opacity: 0.75;
}
#main #main__container #main__writing #main__writing_effect path {
  fill: transparent;
  stroke-width: 1;
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: handwriting 20s linear forwards;
          animation: handwriting 20s linear forwards;
}
#main #main__container #main__writing #main__writing_effect:hover path {
  -webkit-animation: handwritingBackward 10s linear infinite;
          animation: handwritingBackward 10s linear infinite;
}
#main #main__container #main__writing .main__text {
  color: white;
  position: absolute;
  font-weight: 200;
}
#main #main__container #main__writing .main__text_1 {
  top: 22.5%;
  left: 25%;
}
#main #main__container #main__writing .main__text_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 2px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(6) forwards;
          animation: typing 1s steps(6) forwards;
}
#main #main__container #main__writing .main__text_2 {
  top: 25%;
  left: 27.5%;
}
#main #main__container #main__writing .main__text_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(6) forwards;
          animation: typing 1s steps(6) forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#main #main__container #main__writing .main__text_3 {
  top: 27.5%;
  left: 30%;
}
#main #main__container #main__writing .main__text_3 span {
  font-weight: 200;
  color: red;
}
#main #main__container #main__writing .main__text_3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 5s steps(40) forwards;
          animation: typing 5s steps(40) forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#main #main__container #main__writing .main__text_4 {
  top: 30%;
  left: 27.5%;
}
#main #main__container #main__writing .main__text_4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(7) forwards;
          animation: typing 1s steps(7) forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
#main #main__container #main__writing .main__text_5 {
  top: 35%;
  left: 27.5%;
}
#main #main__container #main__writing .main__text_5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(7) forwards;
          animation: typing 1s steps(7) forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
#main #main__container #main__writing .main__text_6 {
  top: 37.5%;
  left: 32.5%;
}
#main #main__container #main__writing .main__text_6 span {
  color: yellow;
}
#main #main__container #main__writing .main__text_6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 3s steps(22) forwards;
          animation: typing 3s steps(22) forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
#main #main__container #main__writing .main__text_8 {
  top: 60%;
  left: 65%;
}
#main #main__container #main__writing .main__text_8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(6) forwards;
          animation: typing 1s steps(6) forwards;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
#main #main__container #main__writing .main__text_9 {
  top: 65%;
  left: 32.5%;
}
#main #main__container #main__writing .main__text_9 span {
  font-size: 2rem;
  color: green;
}
#main #main__container #main__writing .main__text_9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 4s steps(32) forwards;
          animation: typing 4s steps(32) forwards;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
#main #main__container #main__writing .main__text_10 {
  top: 70%;
  left: 27.5%;
}
#main #main__container #main__writing .main__text_10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(7) forwards;
          animation: typing 1s steps(7) forwards;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
#main #main__container #main__writing .main__text_11 {
  top: 75%;
  left: 25%;
}
#main #main__container #main__writing .main__text_11::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0px solid white;
  background-color: rgb(69, 65, 88);
  -webkit-animation: typing 1s steps(7) forwards;
          animation: typing 1s steps(7) forwards;
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
}
#main #main__container #main__writing .main__text_11::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  -webkit-animation: blinkingCursor 1s steps(3) infinite;
          animation: blinkingCursor 1s steps(3) infinite;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about #about__container {
  font-size: 5rem;
}

#work {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#work #work__container {
  font-size: 5rem;
}

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #contact__container {
  text-align: center;
  font-size: 5rem;
}

#scrollTracker {
  position: fixed;
  top: 15%;
  right: 50px;
}
#scrollTracker__line {
  width: 5px;
  height: 700px;
  background-color: #2b2b2b;
}
#scrollTracker #scrollTracker__container {
  position: absolute;
  top: 0%;
  height: 700px;
  right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#scrollTracker #scrollTracker__container .activeCircle {
  position: absolute;
  top: 0;
  right: -10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
#scrollTracker #scrollTracker__container div {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #2b2b2b;
  transition: 1s ease-in-out;
}
#scrollTracker #scrollTracker__container div:nth-child(2) {
  transition: 0.5s ease-in-out;
}
#scrollTracker #scrollTracker__container div:nth-child(2):hover::before {
  content: "Main";
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 0;
}
#scrollTracker #scrollTracker__container div:nth-child(3):hover::before {
  content: "About";
  font-size: 2rem;
  position: absolute;
  right: 40px;
  top: 210px;
}
#scrollTracker #scrollTracker__container div:nth-child(4):hover::before {
  content: "Work";
  font-size: 2rem;
  position: absolute;
  right: 40px;
  top: 435px;
}
#scrollTracker #scrollTracker__container div:nth-child(5):hover::before {
  content: "Contact";
  font-size: 2rem;
  position: absolute;
  right: 40px;
  top: 660px;
}

@-webkit-keyframes handwriting {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
  }
}

@keyframes handwriting {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
  }
}
@-webkit-keyframes handwritingBackward {
  0% {
    fill: white;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}
@keyframes handwritingBackward {
  0% {
    fill: white;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes typing {
  0%, 99% {
    border-left: 2px solid white;
  }
  100% {
    left: 100%;
    border: 0px;
    width: 0%;
  }
}
@keyframes typing {
  0%, 99% {
    border-left: 2px solid white;
  }
  100% {
    left: 100%;
    border: 0px;
    width: 0%;
  }
}
@-webkit-keyframes blinkingCursor {
  0%, 75% {
    border-left: 0px solid white;
  }
  76%, 100% {
    border-left: 2px solid white;
  }
}
@keyframes blinkingCursor {
  0%, 75% {
    border-left: 0px solid white;
  }
  76%, 100% {
    border-left: 2px solid white;
  }
}/*# sourceMappingURL=styles.css.map */